page-home {
  #map {
    height: 100%;
  }

  #floating-panel {
    position: absolute;
    top: 15px;
    left: 1%;
    z-index: 5;
  }
  .location-selected {
    background-color: rgb(224, 224, 224);
  }
  .full-height {
    height: 100%;
  }
  .virtual-joystick {
    height: 44%;
    border-bottom: 1px solid #dedede;
    margin-bottom: 6px !important;
  }
  .location-list {
    height: 55%;
    overflow-y: auto !important;
  }
  .location-list-view {
    width: 100%;
    border-bottom: 1px solid #dedede;
  }
}
